/* edit-staff.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
}

.staff-edit-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-weight: 500;
    color: #444;
}

.form-group input,
.form-group select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    color: #333;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.password-input {
    position: relative;
}

.password-input input {
    width: calc(100% - 40px);
    padding-right: 40px;
}

.password-input i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.password-input i:hover {
    color: #0056b3;
}

.status-count-section {
    margin-top: 40px;
}

.status-count-section h2 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.btn-save, .btn-cancel {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-cancel {
    background-color: #dc3545;
}

.btn-save i, .btn-cancel i {
    margin-right: 10px;
}

.btn-save:hover {
    background-color: #0056b3;
}

.btn-cancel:hover {
    background-color: #c82333;
}
/*Success Popup*/
.success-popup {
    display: none; /* Hidden by default */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup-content {
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #155724;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #0c472f;
}
